{
	frankenphp {
		max_wait_time 10s
        php_ini memory_limit 512M
        php_ini upload_max_filesize 8M
        php_ini post_max_size 8M
	}
    auto_https off
}

localhost:80 {
    root * /wwwroot/default
    php_server {
        worker /wwwroot/default/index.php
    }
    file_server
}
