name: php-frankenphp 8.4

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PWD }}
      -
        name: Build and push php-frankenphp 8.4
        uses: docker/build-push-action@v2
        with:
          context: ./
          push: true
          tags: shion/php-frankenphp:8.4
      -
        name: Build and push php-frankenphp latest
        uses: docker/build-push-action@v2
        with:
          context: ./
          push: true
          tags: shion/php-frankenphp:latest
